*{
    margin: 0%;
    padding: 0%;
}


nav{
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
}
nav a {
    text-decoration: none;
    color: beige;
   
}

header{
    background-color: brown;
}

body {
    background-color: rgb(178, 211, 248);
}